*{
    margin: 0;
    padding: 0;
}
meta {
    display: none;
}
.main{
    block-size: 100vh;
    background-color:rgb(35, 50, 40);  
}
.navbar{
    block-size: auto;
    padding-top: 5px;
    padding-left: 8px;
}
.icon{
    block-size: auto;
    float: left;
}
.menu{
    width: 500px;
    height: 40px;
    padding-top: 5px;
    float: left;
}
ul{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 30px;
    margin-top: 5px;
    font-size: 15px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.frm{
    margin-left: 30px;
    width: 380px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(50, 180, 230);
    padding: 5px; 
    float: left;
}
.frm02{
    width: 130px;
    height: 20px; 
    border: none;
    border-radius: 3px;
    background-color:rgb(250, 250, 250);
    padding: 5px;
    float: left;
    font-family: 'Times New Roman';
    font-size: 15px;
    color:  rgb(0, 0, 0);
}
.frm03{
    margin-left: 5px;
    width: 110px;
    height: 20px; 
    border: none;
    border-radius: 3px;
    background-color:rgb(250, 250, 250);
    padding: 5px;
    float: left;
    font-family: 'Times New Roman';
    font-size: 15px;
    color: rgb(0, 0, 0);
}   
.btn{
    margin-left: 5px;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s ease;
    cursor:pointer;
}
.btn:hover{
    background: rgb(230,230,230);
}
.btn a{
    text-decoration: none;
    color:rgb(230, 0, 0);
    font-weight: bold;
}


table {
    margin-top: 30px;
    background-color: aqua;
    border-collapse: collapse;
  }
  td, th {
    width: 80px ;
    border: 1px solid rgb(150, 150, 150);
    padding: 5px;
    text-align: left;
  }
