*{
    margin: 0;
    padding: 0;
}
.main{
    block-size: 100vh;
    padding: 5px;
    padding-left: 8px; 
    background-color:rgb(35, 50, 40);
}
.logo{
    float: left;
    margin-right: 50px;
}
.frm{
    float: left;
    margin-right: 170px;
    margin-bottom: 8px;
    display: flex;
    width: 380px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(50, 180, 230);
    padding: 5px; 
}
.frm02{
    float: left;
    width: 130px;
    height: 20px; 
    border: none;
    border-radius: 3px;
    background-color:rgb(250, 250, 250);
    padding: 5px;
    font-family: 'Times New Roman';
    font-size: 15px;
    color:  rgb(0, 0, 0);
}
.frm03{
    float: left;
    margin-left: 5px;
    width: 110px;
    height: 20px; 
    border: none;
    border-radius: 3px;
    background-color:rgb(250, 250, 250);
    padding: 5px;
    font-family: 'Times New Roman';
    font-size: 15px;
    color: rgb(0, 0, 0);
}
.btn{
    margin-left: 5px;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s ease;
    cursor:pointer;
}
.btn:hover{
    background: rgb(230,230,230);
}
.btn a{
    text-decoration: none;
    color:rgb(230, 0, 0);
    font-weight: bold;
}
.menu{
    float: left;
    padding: 5px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
}
.navbar{
    margin-bottom: 5px;
    display: flex;
    width:100% ;
    padding: 5px;
}
.btn02{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: rgb(230,230,230);   
}
.btn02 a{
    text-decoration: none;
    font-weight: bold;
    color:rgb(0, 30, 230);
}
table{
    width:99.8% ;
    background-color: aqua;
    border-collapse: collapse;
  }
  td, th {
    width: 80px ;
    border: 1px solid rgb(150, 150, 150);
    padding: 5px;
    text-align: left;
  }
